# Python/Conda environments
venv/
.env/
*.env
*.conda
*.egg-info/
__pycache__/
*.pyc

# Conda environment files
*.yml

# Data and models
data/
models/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
